<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<base href="/">
	<title>HomePage0.html</title>
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
	<link rel="stylesheet" href="../../static/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/fonts/ionicons.min.css">
	<link rel="stylesheet" href="../../static/css/Footer-Basic.css">
	<link rel="stylesheet" href="../../static/css/Footer-Dark.css">
	<link rel="stylesheet" href="../../static/css/Header-Blue.css">
	<link rel="stylesheet" href="../../static/css/Projects-Clean.css">
	<link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
	<header class="header-blue">
		<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
			{% if user.is_authenticated %}
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						{{ user.mobile }}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
						{% comment %} <a class="dropdown-item" href="{% url 'password_change'%}">Change password</a>
						{% endcomment %}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'logout' %}">Log Out
						</a>
					</div>
				</li>
			</ul>
			<div class="container-fluid"><a class="navbar-brand" href="#">X-Shop</a><button data-toggle="collapse"
					class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
						class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav"></ul>
					<form class="form-inline ml-auto" target="_self">
						<div class="form-group mb-0" style="width: 236.9px;"><label for="search-field"><i
									class="fa fa-search"></i></label><input class="form-control search-field" type="search"
								id="search-field" placeholder="Search For Shops.."
								style="font-size: 19.49px;color: var(--white);filter: blur(0px) brightness(123%) contrast(109%) grayscale(24%) hue-rotate(53deg) saturate(200%);">
						</div>
					</form>
					{% else %}
					<div class="container-fluid"><a class="navbar-brand" href="#">X-Shop</a><button data-toggle="collapse"
							class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
								class="navbar-toggler-icon"></span></button>
						<div class="collapse navbar-collapse" id="navcol-1">
							<ul class="navbar-nav"></ul>
							<form class="form-inline ml-auto" target="_self">

							</form>
							<span class="navbar-text"> <a class="login" href="{% url 'users:login' %}">Log In</a></span><a
								class="btn btn-light action-button" role="button" href="#">Sign Up</a>
						</div>
						{% endif %}
					</div>
		</nav>
		{% if user.is_authenticated %}
		<section class="projects-clean">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">SHOPS</h2>
					<form class="form-inline mr-auto" target="_self">
						<div class="form-group mb-0"><label for="search-field"></label></div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="intro"></div>
				<div class="row projects">
					{% for shop in shops %}
					<div class="col-sm-6 col-lg-4 item"><a class="img-fluid" href="{}"></a><img class="img-fluid"
							src="../../static/img/desk.jpg"></a>
						<h3 class="name">{{ shop.name }}</h3>
						<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in
							tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}
		<footer class="footer-basic">
			<div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
						class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
					href="#"><i class="icon ion-social-facebook"></i></a></div>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">Home</a></li>
				<li class="list-inline-item"><a href="#">Services</a></li>
				<li class="list-inline-item"><a href="#">About</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
			</ul>
			<p class="copyright">Company Name © 2017</p>
		</footer>
	</header>
	<script src="../../static/js/jquery.min.js"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
