* {
    box-sizing: border-box;
    margin: 0;
  }


.logo{
    height: 58px;
    width: 110px;
    padding-left: 5px;
}

header{
    height: 75px;
    width: 100%;
    background: #022534;
    display: flex;
    flex-direction: row;
}

.glyphicon{
    font-size: 28px;
    margin-left: 1000px;
    margin-top: 12px;
    color:#A0BACC;
    border: 3px solid;
    border-radius: 50px;
    padding: 8px;

}

.glyphicon:hover{
    background: #08546c;
}

.pname{
    padding-top: 10px;
    padding-left: 100px;
    font-family: serif;
    font-weight: bold;
    color: #022534;
    display: inline-block;
}

.pimage{
    padding-left: 100px;
    height: 350px;
    width: 700px;
}

.description{
    padding-left: 100px;
    padding-top: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    color:  #133847;

  }

p{
    padding-left: 100px;
    font-size: 18px;
    color: #022534;
    display: inline-block;
}

.price{
    font-size: 25px;
    font-family: sans-serif;
    color: #0b6583;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;

}


.add{
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color:#A0BACC;
    color: #04364b;
    font-weight: bold;
    outline: 0px;
    border: 1px solid #2f99df;
    margin-left: 100px;

}

.add:hover{
    border: 2px solid #022534;
}

/* Mobile */

@media (max-width: 767px) {
    .glyphicon{
        margin-left: 400px;
        margin-top: 12px;
    }
    .pimage{
        height: 350px;
        width: 400px;
    }
    .price{
        margin-top: 20px;
        margin-left: 50px;

    }
    .add{
        margin-left: 50px;

    }
}

@media (max-width: 1215px) {
    .glyphicon{
        margin-left: 300px;
        margin-top: 12px;
    }
    .pimage{
        height: 350px;
        width: 400px;
    }
    .price{
        margin-top: 20px;
        margin-left: 50px;

    }
    .add{
        margin-left: 50px;

    }
}

@media (max-width: 767px) {
    .glyphicon{
        margin-left: 100px;
        margin-top: 12px;
    }
    .pimage{
        padding-left: 30px;
        padding-right: 60px;
        height: 350px;
        width: 400px;
    }
    .price{
        margin-top: 20px;
        margin-left: 15px;

    }
    .add{
        margin-left: 135px;
        margin-top: 15px;
    }
    p{
        padding-left: 30px;
        display: inline-block;
    }
    .description{
        padding-left: 30px;
      }
}

/* Small Screens */

@media (min-width: 768px) {
}

/* Medium Screens */

@media (min-width: 992px) {

}

/* Large Screens */

@media (min-width: 1200px) {
}

/* Custom */

@media (max-width: 1199px) {
}
