{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'about_static/footer.css' %}">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="footer">
        <p class="about">Privacy Policy</p>
        <a href="{% url 'pages:home' %}" style="text-decoration: none;">
            <p class="shop-name">Egypt Shops</p>
        </a> 

    </div>

    <h1>Egypt Shops Privacy Policy</h1>


    <span class="terms">Information from merchants</span>
    <ul>
        <li>We collect your name, address, email address, and mobile phone number.</li>
        <li>We need this information to provide you with our services. At the forefront: Verifying your identity,
            contacting you and issuing invoices to you.</li>
        <li>We collect data from the Egypt Shops web pages hosted and visited by you. We also collect data about how and
            when
            you access your account, including information about the device, the browser you are using, the network
            connection, and the IP address.</li>
        <li>We need this information to provide and improve our services.</li>
        <li>Upon completion of the service registration process, you will be able to activate the logistics and payment
            services in your account. If you do so, we will collect your address or addresses, your business type,
            business identification number, date of birth (if you are an individual business owner) and bank account
            information and official personal identification/identification information.</li>
        <li>We need this information to establish logistics and payment services for you, including fraud and risk
            monitoring and compliance with applicable legal and regulatory requirements.</li>
        <li>We collect personal information about your customers that you share with us or that customers provide during
            shopping or during the payment process.
        </li>
        <li>We will also use personal information in other cases if we give your explicit permission.</li>
        <li>Address book: You can provide us with the phone numbers of your store users and other contacts in your
            mobile phone address book. You confirm that you are authorized to provide us with these numbers to allow us
            to provide our services.
        </li>
        <li>Camera and Photo Library: Provide us with access to your camera and photo library. You confirm that you are
            authorized to provide us with these images to allow us to provide our services.
        <li>Site: You provide our access to your site using the location service on your phone and confirm that you are
            authorized to provide us with these sites to allow us to provide our services.
        </li>
        <li>Use and registration of information: We collect information related to services, diagnosis, and performance,
            and this includes information about your activity such as how to use our services, how you interact with
            others using our services and the like, log files, diagnostics, malfunctions, websites, performance logs,
            and reports.</li>
        <li>Device and contact information: We collect device-specific information when installing, accessing or using
            our services. This includes information such as device type, operating system information, browser
            information, IP address, and mobile network information including phone number and device identifiers. We
            collect device location information if you use our location features.</li>
    </ul>
    <span class="terms">Information from Egypt Shops visitors and support users</span>
    <ul>
        <li>We collect information from the Egypt Shops website visitors about the device, the browser that uses it, the
            network
            connection, and its IP address. We may also receive personal information when sending requests, support
            tickets or other requests to Egypt Shops via any of our websites.</li>
        <li>We collect phone numbers and record calls from support phone users.</li>
        <li>We collect name, email address, device and browser information, network connection, IP address and chat text
            from chat support users.</li>
        <li>We collect the name, email address, and store URL from store and app users.</li>
    </ul>

    <span class="terms">Information from cookies and similar tracking technology</span>
    <ul>
        <li>We use cookies to recognize your device to provide you with a personalized experience.</li>
        <li>We may use cookies to display personalized ads from Google and other third-party vendors.</li>
        <li>We may also use web beacons, tracking technology, and other automated tracking methods on our websites
            to
            communicate with you and our products and services to measure performance and engagement.</li>
        <li>We work and provide our services including providing customer support, improving, repairing and
            customizing
            our services. We understand how people use our services to analyze and use our information to evaluate
            and
            improve our services, research and development, test services and new features, and conduct
            troubleshooting
            activities. We also use your information to respond to you when you contact us. We also use cookies to
            operate, improve, understand and customize our services.</li>
    </ul>
    <span class="terms">What do we do with your personal information when you end your relationship with us?</span>
    <ul>
        <li>We will continue to store archived copies of your personal information for legitimate business purposes
            and
            in compliance with laws and regulations.</li>
        <li>We will continue to store anonymous information such as website visits without identifiers to improve
            our
            services.</li>
    </ul>
    <span class="terms">How can we keep your personal information safe?</span>
    <ul>
        <li>We follow industry standards in Information Security Management to protect sensitive information such as
            financial information, employee details, and any other personal information entrusted to us. Our
            information
            security systems apply to people, processes and IT systems on a risk management basis.</li>
        <li>A qualified third-party to manage the payment gateway manages and checks our payment gateways.</li>
        <li>There is no online transmission method or a 100% secure online storage method. Therefore, we cannot
            guarantee the absolute security of your personal information.</li>
    </ul>

    <a href="{% url 'pages:home' %}">
        <button class="btn1" name="home">
            Back to HomePage
        </button>
    </a>

    <footer class="fooo">


        <div class="faa">
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
        </div>


        <div class="links">

            <a class="link1" href="#">Home</a>
            <a class="link1" href="#">Services</a>
            <a class="link1" href="#">About</a>
            <a class="link1" href="#">Terms</a>
            <a class="link1" href="#">Privacy Policy</a>


        </div>

        <p class="e-name">© 2021 Egypt Shops </p>


    </footer>
</body>

</html>