{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about_static/footer.css' %}">
    <title>Terms</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="footer">
        <p class="about">Terms</p>
        <a href="{% url 'pages:home' %}" style="text-decoration: none;">
            <p class="shop-name">Egypt Shops</p>
        </a> 
    </div>
    <h1>Egypt Shops terms-conditions</h1>



    <span class="terms">Account terms</span>
    <ol>
        <li>You must be 18 years of age or older, or have reached the age of majority according to the laws and
            regulations of the country in which you use the service</li>
        <li>You must register with Egypt Shops to use the service and benefit from it by writing the full name as it
            appears in
            the official papers, the current address, the mobile number, a valid email and any required information as
            shown, requested in the registration form and Egypt Shops has the right to reject the request to create any
            account
            &#8211; as it is entitled to &#8211; Cancellation of any account due, in accordance with the powers granted.
        </li>
        <li>Egypt Shops has the right to use the email address as a primary method of communication.</li>
        <li>The user is responsible for keeping his password safe. Egypt Shops is not responsible for any loss or damage
            that
            occurs as a result of forgetting and not maintaining the security of the account and password.</li>
        <li>The user is responsible for all activities and contents such as data, graphics, images and links that are
            downloaded under his account in Egypt Shops (“Store Content”). No virus, computer worms, or any symbols of a
            destructive nature should be transmitted.</li>
        <li>Violation of any term in the Account terms described in accordance with the powers granted to Egypt Shops
            will lead
            to immediate termination of user services and the claim for compensation.</li>
    </ol>
    <span class="terms">Payment services, Visa / MasterCard and credit card:</span>
    <ol>
        <li>Egypt Shops has the right, on behalf of the user, to provide FAWRY, Visa or MasterCard with its information
            upon the
            request of the account holder after completing the registration.</li>
        <li>The user acknowledges that activating the credit card payment services and / or Visa
            / MasterCard will be fully responsible as the account owner. And if he does not wish to keep them active,
            the responsibility for the cancellation rests with him as well. Whereas, Visa /
            MasterCard credit cards are third party services and it is solely the responsibility of the company to
            deactivate because the service is provided by a third party.</li>
        <li>Once using the credit card payment services / MasterCard credit cards in the store, the
            user agrees to abide by the terms of the the credit card/credit card of the Visa card /
            as a third party as described in the terms of use displayed when activating the service in
            Application/website. If modified or changed, a new version will be published in the application/website. The
            amendments shall be effective from the date of publication. Any use after posting &#8211; those
            modifications &#8211; constitutes agreement with the terms of the new terms of the
            Visa / MasterCard credit card payment services. If the user rejects any changes to the
            payment terms with a Visa / MasterCard credit card, he must deactivate the
            credit card payment service for the Visa / MasterCard and not continue to use the
            Visa / MasterCard credit card within payment services in his store.</li>
    </ol>
    <span class="terms">Cash on Delivery Service:</span>
    <ol>
        <li>When subscribing to the service and upon the request of the account holder, the payment service will be
            activated upon delivery, using his information.</li>
        <li>The user acknowledges that he is fully responsible for payment services upon delivery as the account owner
            &#8211; and if he wishes &#8211; to cancel this service, he must do so himself. Since it is a service
            provided by a third party.</li>
        <li>The user acknowledges agreeing to the terms and conditions that the third party is subject to when using the
            payment on delivery service described when activating the service in the application/website. If modified or
            changed, a new version will be published in the application/website. The amendments are also considered in
            effect from the date of publication, and the use of the service &#8211; after the publication of the new
            conditions is tantamount to &#8211; approval of the amendment or change and acceptance of these changes
            &#8211; the user must deactivate the service &#8211; when he refuses &#8211; for any changes to the terms of
            payment service upon delivery and is not entitled to He may continue to use the cash on delivery service at
            his store.</li>
    </ol>
    <span class="terms">Bank Transfer Service</span>
    <ol>
        <li>The right to increase the bank transfer service is activated by simply subscribing to the service and upon
            the request of the account holder, using his information.</li>
        <li>The user bears full responsibility for managing bank wire services as the account owner and is obligated to
            maintain the correct bank account information for his store. The account holder is responsible for
            activating or canceling the account. Egypt Shops shall not be liable for any loss or damage arising from the
            failure
            of the account holder to maintain bank transfer payments and data or to manage it.</li>
        <li>The account holder will agree to the bank’s terms and conditions once using the bank transfer service at his
            store. Egypt Shops is not responsible for any violation of the terms and conditions of the bank. If the
            account
            holder does not agree with the terms and conditions of the bank, he must disable bank transfer services and
            not continue to use them in the store</li>
    </ol>
    <span class="terms">Egypt Shops Rights</span>
    <ol>
        <li>The right to increase the amendment or termination of the service for any reason without notice at any time.
        </li>
        <li>Anyone has the right to refuse to activate the service for any reason, at any time.</li>
        <li>Egypt Shops has the right to remove store content and accounts containing content that Egypt Shops deems at
            its own
            discretion unlawful, offensive, or threatening, libelous, defamatory, promoting pornographic or obscene
            content in any way or that violates the intellectual property of any party or violates the terms of use.
        </li>
        <li>Verbal or verbal abuse of any kind (including the threat of abuse or retaliation) from any Egypt Shops
            customer, Egypt Shops
            employee, member or official that will lead to the termination of the account immediately.</li>
        <li>Egypt Shops does not display pre-stored content and is subject to our sole discretion to reject or remove
            any stored
            content available through the service.</li>
        <li>Egypt Shops is entitled to provide its services to any party, even with being a competitor to other parties
            benefiting from the same services, and is committed to Egypt Shops moral and legal Charter in no harm to any
            party
            or to refrain from his service to make gains to another party nor promise any form of exclusivity in any of
            the sectors available in the market. The user also acknowledges and agrees that Egypt Shops employees and
            contractors may be Egypt Shops customers/merchants at the same time and that they may compete with the user,
            but Egypt Shops
            may not use the user&#8217;s confidential information when doing so.</li>
        <li>In the event of a dispute over account ownership, Egypt Shops has the right to request documents to verify
            or verify
            ownership of the account. The documents may include, but are not limited to, an electronic (scanned) copy of
            the business user’s license or a copy of the national identity card, or the last four digits of the credit
            card in the file and so on.</li>
        <li>Egypt Shops has the right to decide at its own discretion or after seeking the advice of a legal account
            holder who
            owns the account and has the right to issue the decision to transfer the account to the legal owner. In the
            event Egypt Shops is not able to determine the legitimate account holder in a logical and reasoned decision,
            it is
            entitled to temporarily suspend the account until the contesting parties are separated by a judicial ruling
            or a binding agreement in the presence of a legal adviser.</li>
    </ol>
    <span class="terms">Liability limits</span>
    <ol>
        <li>The user agrees and understands that Egypt Shops shall not be liable for any direct, indirect, incidental,
            special,
            consequential, or severe damages, including without limitation, and damages arising from loss of profit,
            reputation, use, data, or other intangible losses resulting from the use of Service or inability to use it.
        </li>
        <li>In all cases, Egypt Shops and its distributors are not responsible for the loss of profits or any special,
            incidental or consequential damages arising from their services or these terms of use (and including those
            caused by negligence). The user agrees to indemnify and protect Egypt Shops and (as the case requires) we
            increase
            the parent company or subsidiaries or Egypt Shops -affiliated companies or Egypt Shops partners or officials
            or managers or
            agents or employees or suppliers not affected by any claim or demand including the attorney fees he provides
            Any third party due to or arising out of the user&#8217;s breach of these terms of use or the documents it
            contains by reference, or in violation of any system, law or any right of the public.</li>
        <li>The account holder is entirely responsible for the use. Whereas, the &#8220;as is&#8221; and &#8220;as
            available&#8221; service is provided without any warranty or express, implied or legal conditions.</li>
        <li>Egypt Shops does not guarantee that any defect in the provision of services outside its ability or due to
            emergency
            or force majeure conditions does not occur &#8211; that no defect or error occurs, and Egypt Shops is
            committed to
            taking all necessary and reasonable steps to remedy and remedy the situation.</li>
        <li>Egypt Shops does not warrant that the results of using the service will be accurate or consistent.</li>
        <li>Egypt Shops does not warrant that the quality of any products, services, information, or other materials
            purchased
            or obtained from the user through the service will reach your expectations, or that any errors in the
            service will be corrected.</li>
    </ol>
    <span class="terms">Intellectual property and customer content</span>
    <ol>
        <li>Egypt Shops does not have the right to claim intellectual property rights over the content that you upload,
            and all
            the content you download is owned by you and does not understand the exemption from complying with the terms
            and policies of increasing or not being held accountable when the violation occurs. You can also delete the
            Egypt Shops Store at any time by requesting the deletion of the account from customer service.</li>
    </ol>
    <ol>
        <li>When content is uploaded to the store, the user agrees to the following:<br />
            (A) Allow other Internet users to view the store&#8217;s content.<br />
            (B) Allow Egypt Shops to display and save your store content.<br />
            (C) Egypt Shops has the right to review the content of the uploaded store at any time to ensure its safety
            and
            compliance with the terms and conditions.</li>
        <li>The user retains ownership of all content uploaded to the Egypt Shops Store, and in any case, when the Store
            is
            public it is deemed an agreement to others to view the Store Content. The user is also responsible for
            applying the regulations, laws, and requirements applicable to store content.</li>
        <li>The Egypt Shops user’s confidential information will not be disclosed to third parties unless this is
            required
            during service provision and with prior consent and knowledge of the user. Confidential information includes
            any material or information provided by the user to Egypt Shops that is not publicly known. The confidential
            information does not include information that:<br />
            (A) was available in the public domain at the time we received it.<br />
            (B) it entered into the public domain after receiving Egypt Shops without any error from the Egypt Shops
            side.<br />
            (C) receiving Egypt Shops from another person other than you without violating our obligations or
            confidentiality
            Our own or them, or (D) required to be disclosed by law.</li>
        <li>Egypt Shops company has the right to open license to use the names, trademarks, service marks and logos
            associated
            with the user&#8217;s store to promote the service.</li>
    </ol>
    <span class="terms">Egypt Shops store wallpaper</span>
    <ol>
        <li>Users can customize the look of their store using the Egypt Shops design templates. He has the right to use
            the
            design template for the Egypt Shops store in the store only, and he is not allowed to transfer or sell any
            design
            template from the Egypt Shops store to any store for another person in Egypt Shops or anywhere else, and
            Egypt Shops reserves the
            legal right to remedy any violation of the foregoing.</li>
        <li>The user can customize the Egypt Shops template design to suit his store. The right to add or amend the
            appendix
            showing its identity at its own discretion. From its own perspective, it has the right to determine and
            amend the template that contains an element that may be unlawful, offensive, threatening, defamatory,
            pornographic, obscene, or undesirable in any way or that constitutes a violation of the intellectual
            property of any person, even after receiving the template in this case. Plus, you may tweak the template to
            add new designs, technical changes, and updates as required.</li>
        <li>Egypt Shops has intellectual property rights to its design template. If you exceed the rights granted
            through a
            purchase, Egypt Shops may take legal and administrative action against the user such as modifying or closing
            the
            store.</li>
        <li>It is the responsibility of the user to ensure that the use of the old or new Egypt Shops design templates
            does not
            replace or damage the user&#8217;s store content.</li>
    </ol>
    <span class="terms">Payment of fees</span>
    <ol>
        <li>The user pays the value of the fees imposed on his participation in the service (“subscription fees”) and
            any other fees required, including but not limited to fees related to executing transactions in your account
            (“transaction fees”) and fees related to the purchase of any products or services such as equipment or
            shipping Applications, backgrounds, identifier names, or third-party services (“additional fees”).
            Participation fees, transaction fees, and additional fees are referred to as &#8220;fees&#8221;.</li>
        <li>The user must type valid credit card information in the registration file to pay all periodic financial
            obligations. The increase in fees charged to the credit card account whose information was written (“the
            approved card”) will be recorded, and the fees will continue to be collected from the approved card (or any
            alternative card) against the fees due until the services are terminated and only occurs when all the fees
            due are paid in full unless otherwise mentioned. All basic fees and other fees are in Saudi Riyals, and all
            payments must be in Saudi currency.</li>
        <li>The subscription fees are paid in advance, the invoice is issued within (30) days, and the payment is in
            annual installments (all of these dates are classified as the &#8220;invoice release date&#8221;).
            Transaction fees and additional fees will be calculated from time to time at the discretion of Egypt Shops
            and a fee
            will be collected from the user on the date of each bill for all due fees that have not been paid before.
            The fees are written on the invoice that will be sent to the account owner via the email written in the
            registration file. An invoice will appear on the account signup page on the Egypt Shops site/app. Users have
            (14)
            days to bring and settle any problems related to subscription fees bills.</li>
        <li>All fees do not include government, regional, or local sales, or other national sales, goods, services, and
            fees. Or fees that are in the future.</li>
        <li>Egypt Shops has no refund service is available.</li>
    </ol>
    <span class="terms">Auto Subscription Renewal</span>
    <ol>
        <li>The subscription of selected plan will auto renew using the payment methods you entered in your account when
            the date of the end of your current subscription period.
        <li>If payment is not successfully settled, due to expiration, insufficient funds, or otherwise, the
            subscription will not renew automatically.
    </ol>

    <a href="{% url 'pages:home' %}">
        <button class="btn1" name="home">
            Back to HomePage
        </button>
    </a>

    <footer class="fooo">


        <div class="faa">
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
        </div>


        <div class="links">

            <a class="link1" href="#">Home</a>
            <a class="link1" href="#">Services</a>
            <a class="link1" href="#">About</a>
            <a class="link1" href="#">Terms</a>
            <a class="link1" href="#">Privacy Policy</a>


        </div>

        <p class="e-name">© 2021 Egypt Shops </p>


    </footer>


</body>

</html>